requests==2.27.1
beautifulsoup4==4.11.1
nltk==3.7
wikipedia==1.4.0
pandas==1.3.5
tqdm==4.64.0
numpy==1.21.6
scikit-learn==1.0.2
-e git+https://github.com/kstathou/vector_engine@master#egg=vector_engine
torch==1.11.0
sentence-transformers==2.2.0
faiss-cpu==1.7.2
